
header {
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 40vh;
    margin-bottom: 5rem;
}
.header__container {
    grid-template-columns: 1fr;
    width: 100%;
    height: auto;
}
/*product*/
.product {
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.product__container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

.product__summary {
    background: var(--color-bg1);
    padding: 0.5rem;
    border: 1px solid ;
    border-radius: 1rem;
    transition: var(--transition);
    position: relative;
    overflow: hidden;
}

.product__summary:hover {
    background: transparent;
    border-color: var(--color-primary);
}


.product__summary-info * {
    text-align: center;
    margin-top: 0.5rem;
}

.product__summary-info p {
    color: var(--color-light);
} 



/*media queries*/
@media screen and (max-width: 1024px) {
    header {
        position: relative;
        top: 5rem;
        overflow: hidden;
        height: 20vh;
        margin-bottom: 5rem;
    }
    .about__achievements {
        margin-top: 2rem;
    }

    .about__achievements-container {
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    .about__achievements-left {
        width: 80%;
        margin: 0 auto;
    }

    .product__container {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .product__summary {
        padding: 0.5rem;
    }


    /*Phones*/
    @media screen and (max-width: 600px) {
        header {
            position: relative;
            top: 5rem;
            overflow: hidden;
            height: 10vh;
            margin-bottom: 5rem;
        }
        .achievements__cards {
            grid-template-columns: 1fr 1fr;
            gap: 0.7rem;
        }

        .product__container {
            grid-template-columns: 1fr 1fr;
            gap: 0.7rem;
        }

        .product__summary {
            padding: 0;
        }

        .product__summary p {
            margin-bottom: 1.5rem;
        }
    }
    
}